
<div class="row">
  <div class="col-xs-8 col-xs-offset-2">
    <h1 class="center">Welcome to <%= @user.username %>'s page</h1>
  </div>
</div>


<div class="row">
  <div class="col-xs-8 col-xs-offset-2">
    <div class="center">
      <%= gravatar_for @user, size: 120 %>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-xs-8 col-xs-offset-2">
    <div class="center">
      <h2>   <%= @user.username %>'s articles</h2>
    </div>
  </div>
</div>



<%= render 'articles/article', obj: @user.articles %>